.team-section {
  background-color: $second-background-color;
  padding: 60px 0;

  @include for-size(desktop) {
    padding: 94px 0;
  }
}

@import '../components/team';
@import '../components/social-link';
