.developments {
  display: none;

  @include for-size(desktop) {
    display: block;
  }

  .list {
    @include flex(flex, space-between);
  }

  &-item {
    width: calc((100% - (2 * 30px)) / 3);
    position: relative;
  }

  &-title {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 27px 0;
    color: $third-color;
    background-color: $first-background-color;
    @include font(700, 1.15, inherit);
    font-size: f-s(14);
    text-transform: uppercase;
  }
}

.dev-primary-title {
  @include prim-title;
}
