.footer {
  @include flex(flex, center);

  & .logo,
  & .title {
    color: $third-color;
  }

  & .title {
    font-size: f-s(14);
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

.footer-block {
  & > h2 {
    @include vis-hidden;
  }

  & > a.logo {
    display: inline-block;
  }

  & > .list {
    @include flex(flex, space-evenly);
  }

  &:nth-child(3n) {
    width: calc(50% - 15px);
  }
}

.address {
  font-style: normal;
  @include font(400, 1.71, inherit);
  font-size: f-s(14);
  margin-top: 20px;

  & .contacts {
    color: $fourth-text-color;
    margin-top: 9px;
    padding: 0;
  }

  &-item {
    color: $third-color;
  }
}
