.contact-links {
  display: none;

  @include for-size(tablet) {
    display: contents;
  }
}
.contact.list {
  display: flex;
  margin-left: auto;
}

.contact-items:not(:last-child) {
  margin-right: 30px;
}

.contacts-data {
  @extend %nav-link;
  @include flex(flex, flex-start);
  color: $secondary-text-color;
}

.icon-contact {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
