.main-logo {
  margin-right: 88px;

  @include for-size(desktop) {
    margin-right: 93px;
  }
}

.logo {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  font-family: $logo-font;
  @include font(700, 1.17, 0.03em);
  font-size: f-s(24);
  color: $logo-text-color;

  @include for-size(desktop) {
    justify-content: start;
    line-height: 1.19;
    font-size: f-s(26);
  }

  &-web {
    color: $accent-text-color;
  }
}
