.nav-btn-menu {
  @include flex(flex, center);
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  color: $primary-text-color;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $accent-text-color;
  }

  svg {
    fill: currentColor;
  }

  @include for-size(tablet) {
    display: none;
  }
}

.nav-btn-menu .icon-cross {
  display: none;
}

.nav-btn-menu.is-open .icon-cross {
  display: block;
}

.nav-btn-menu.is-open .icon-menu {
  display: none;
}
