.portfolio-menu {
  padding-top: 60px;
  padding-bottom: 25px;

  @include for-size(tablet) {
    padding-bottom: 30px;
  }

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 50px;
  }

  & > .list {
    @include flex(flex, start);
    flex-wrap: wrap;

    @include for-size(tablet) {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .list-menu + .list-menu:not(:nth-child(4)) {
    margin-left: 8px;
  }
}

@include for-size(tablet) {
  .list-menu + .list-menu {
    margin-left: 8px;
  }
}

.button.menu {
  color: $primary-text-color;
  background-color: $second-background-color;
  @include font(500, 1.62, 0.03em);
  min-width: 73px;
  min-height: 38px;
  padding: 6px 22px;
  margin-bottom: 15px;
  box-shadow: none;
  transition: color $time-tranforming $form-transforming,
    background-color $time-tranforming $form-transforming,
    box-shadow $time-tranforming $form-transforming;

  @include for-size(tablet) {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    color: $third-color;
    background-color: $accent-text-color;
    box-shadow: $nav-item-shadow-hover;
  }
}

.portfolio-page h1 {
  @include vis-hidden;
}
