.soсial-links {
  @include flex(flex, center);
  font-size: 0;
  margin-bottom: 24px;

  li {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  a {
    @include flex(flex, center);
    width: 44px;
    height: 44px;
    color: $icon-color;
    border-radius: 50%;
    transition: color $time-tranforming $form-transforming,
      background-color $time-tranforming $form-transforming;

    &:hover,
    &:focus {
      color: $third-color;
      background-color: $accent-text-color;
    }
  }
}

.icon-soсial-links {
  fill: currentColor;
}
