.list.team {
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.team-section .prim-title {
  @include title(ph-tab);
  @include title(desktop);
}

.team-card {
  display: flex;
  flex-direction: column;
  background-color: $third-color;
  line-height: 1.19;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: $card-shadow;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 786px) and (max-width: 1200px) {
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @include for-size(desktop) {
    width: calc((100% - (3 * 30px)) / 4);
    margin-bottom: 0;
  }

  & > h4 {
    @include vis-hidden;
  }

  .text {
    line-height: inherit;
    margin-bottom: 16px;
  }
}

.team-img {
  margin-bottom: 30px;
  width: 100%;
}

.team-id-name {
  font-weight: 500;
  margin-bottom: 10px;
}
