html {
  font-size: 16px;
}

body {
  background-color: $third-color;
  color: $primary-text-color;
  font-family: $primary-font;
  font-size: inherit;
  @include font(400, 1.19, 0.03em);
}

h1,
h2,
h3,
h4 {
  text-align: center;
  font-weight: 700;
  font-size: inherit;
  margin: 0;
}

ul {
  padding-inline-start: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}

section {
  margin-bottom: 60px;

  @include for-size(desktop) {
    margin-bottom: 94px;
  }
}

.list {
  list-style: none;
}

@import './container';
@import './button';
