@mixin transition($property) {
  transition: $property $time-tranforming $form-transforming;
}

@mixin flex($box-form, $alight-form) {
  display: $box-form;
  align-items: center;
  justify-content: $alight-form;
}

@function f-s($px) {
  @return ($px / 16) + rem;
}

@mixin font($fweight, $lheight, $lspacing) {
  font-weight: $fweight;
  line-height: $lheight;
  letter-spacing: $lspacing;
}

@mixin border($weight, $color) {
  border: $weight solid $color;
}

@mixin vis-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin prim-title() {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}

@mixin for-size($range) {
  $phone: 480px;
  $tablet: 768px;
  $desktop: 1200px;

  @if $range == phone-responsive {
    @media (max-width: #{$phone - 1}) {
      @content;
    }
  } @else if $range == phone {
    @media (min-width: $phone) {
      @content;
    }
  } @else if $range == tablet {
    @media (min-width: $tablet) {
      @content;
    }
  } @else if $range == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  }
}

@mixin title($range) {
  $tablet: 768px;
  $desktop: 1200px;

  @if $range == ph-tab {
    @media (max-width: $desktop) {
      font-size: 28px;
      line-height: 1.18;
      margin-bottom: 30px;
    }
  } @else if $range == desktop {
    @media (min-width: $desktop) {
      font-size: 36px;
      line-height: 1.167;
      margin-bottom: 50px;
    }
  }
}
