$logo-text-color: #000000;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$third-color: #ffffff;
$fourth-text-color: rgba(255, 255, 255, 0.6);
$accent-text-color: #2196f3;
$icon-color: #afb1b8;
$placeholder-color: rgba(117, 117, 117, 0.5);

$first-background-color: rgba(47, 48, 58, 0.4);
$second-background-color: #f5f4fa;
$modale-background-color: rgba(0, 0, 0, 0.2);
$footer-background-color: #2f303a;
$footer-background-item-color: rgba(255, 255, 255, 0.1);
$hover-card-color: rgba(33, 150, 243, 0.9);

$bottom-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$card-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 1px 3px rgba(0, 0, 0, 0.12);
$card-shadow-hover: 1px 4px 6px rgba(0, 0, 0, 0.16),
  0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
$nav-item-shadow-hover: 0px 2px 2px rgba(0, 0, 0, 0.12),
  0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);

$border-header-color: #ececec;
$border-color: #afb1b8;
$border-input-color: rgba(255, 255, 255, 0.3);
$border-modal-color: rgba(33, 33, 33, 0.2);
$border-div-close: rgba(0, 0, 0, 0.1);
$border-portfolio-card: #eeeeee;

$time-tranforming: 250ms;
$form-transforming: cubic-bezier(0.4, 0, 0.2, 1);

$primary-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;
